Tutorial from: https://www.datacamp.com/community/tutorials/scikit-learn-tutorial-baseball-2

In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = None

In [2]:
# read in csv files
master_df = pd.read_csv('../baseballdatabank/core/People.csv', 
                        usecols=['playerID','nameFirst','nameLast',
                                 'bats','throws','debut','finalGame'])

master_df.head()

    playerID nameFirst nameLast bats throws       debut   finalGame
0  aardsda01     David  Aardsma    R      R  2004-04-06  2015-08-23
1  aaronha01      Hank    Aaron    R      R  1954-04-13  1976-10-03
2  aaronto01    Tommie    Aaron    R      R  1962-04-10  1971-09-26
3   aasedo01       Don     Aase    R      R  1977-07-26  1990-10-03
4   abadan01      Andy     Abad    L      L  2001-09-10  2006-04-13

In [3]:
fielding_df = pd.read_csv('../baseballdatabank/core/Fielding.csv',
                          usecols=['playerID','yearID','stint','teamID',
                                   'lgID','POS','G','GS','InnOuts','PO',
                                   'A','E','DP'])
fielding_df.head()

,playerID,yearID,stint,teamID,lgID,POS,G,GS,InnOuts,PO,A,E,DP
0,abercda01,1871,1,TRO,NaN,SS,1,1.0,24.0,1,3,2.0,0
1,addybo01,1871,1,RC1,NaN,2B,22,22.0,606.0,67,72,42.0,5
2,addybo01,1871,1,RC1,NaN,SS,3,3.0,96.0,8,14,7.0,0
3,allisar01,1871,1,CL1,NaN,2B,2,0.0,18.0,1,4,0.0,0
4,allisar01,1871,1,CL1,NaN,OF,29,29.0,729.0,51,3,7.0,1

In [4]:
batting_df = pd.read_csv('../baseballdatabank/core/Batting.csv')

batting_df.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,0,0,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,0,0,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,5,0,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,2,2,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,3,0,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0

In [5]:
awards_df = pd.read_csv('../baseballdatabank/core/AwardsPlayers.csv',
                       usecols=['playerID', 'awardID', 'yearID'])

awards_df.head()

    playerID                awardID  yearID
0   bondto01  Pitching Triple Crown    1877
1  hinespa01           Triple Crown    1878
2  heckegu01  Pitching Triple Crown    1884
3  radboch01  Pitching Triple Crown    1884
4  oneilti01           Triple Crown    1887

In [6]:
allstar_df = pd.read_csv('../baseballdatabank/core/AllstarFull.csv',
                        usecols=['playerID', 'yearID'])

allstar_df.head()

    playerID  yearID
0  gomezle01    1933
1  ferreri01    1933
2  gehrilo01    1933
3  gehrich01    1933
4  dykesji01    1933

In [7]:
hof_df = pd.read_csv('../baseballdatabank/core/HallOfFame.csv', 
                    usecols=['playerID', 'yearID', 'votedBy', 'needed_note',
                            'inducted', 'category'])

hof_df.head()

    playerID  yearID votedBy inducted category needed_note
0   cobbty01    1936   BBWAA        Y   Player         NaN
1   ruthba01    1936   BBWAA        Y   Player         NaN
2  wagneho01    1936   BBWAA        Y   Player         NaN
3  mathech01    1936   BBWAA        Y   Player         NaN
4  johnswa01    1936   BBWAA        Y   Player         NaN

In [8]:
appearances_df = pd.read_csv('../baseballdatabank/core/Appearances.csv')

In [9]:
# check batting columns
batting_df.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP'],
      dtype='object')

In [10]:
# initialize dictionaries for player stats and years played
player_stats = {}
years_played = {}

# create dictionaries for player stats and years played from batting_df
for i, row in batting_df.iterrows():
    playerID = row['playerID']
    if playerID in player_stats:
        player_stats[playerID]['G'] = player_stats[playerID]['G'] + row['G']
        player_stats[playerID]['AB'] = player_stats[playerID]['AB'] + row['AB']
        player_stats[playerID]['R'] = player_stats[playerID]['R'] + row['R']
        player_stats[playerID]['H'] = player_stats[playerID]['H'] + row['H']
        player_stats[playerID]['2B'] = player_stats[playerID]['2B'] + row['2B']
        player_stats[playerID]['3B'] = player_stats[playerID]['3B'] + row['3B']
        player_stats[playerID]['HR'] = player_stats[playerID]['HR'] + row['HR']
        player_stats[playerID]['RBI'] = player_stats[playerID]['RBI'] + row['RBI']
        player_stats[playerID]['SB'] = player_stats[playerID]['SB'] + row['SB']
        player_stats[playerID]['BB'] = player_stats[playerID]['BB'] + row['BB']
        player_stats[playerID]['SO'] = player_stats[playerID]['SO'] + row['SO']
        player_stats[playerID]['IBB'] = player_stats[playerID]['IBB'] + row['IBB']
        player_stats[playerID]['HBP'] = player_stats[playerID]['HBP'] + row['HBP']
        player_stats[playerID]['SH'] = player_stats[playerID]['SH'] + row['SH']
        player_stats[playerID]['SF'] = player_stats[playerID]['SF'] + row['SF']
        years_played[playerID].append(row['yearID'])
    
    else:
        player_stats[playerID] = {}
        player_stats[playerID]['G'] = row['G']
        player_stats[playerID]['AB'] = row['AB']
        player_stats[playerID]['R'] = row['R']
        player_stats[playerID]['H'] = row['H']
        player_stats[playerID]['2B'] = row['2B']
        player_stats[playerID]['3B'] = row['3B']
        player_stats[playerID]['HR'] = row['HR']
        player_stats[playerID]['RBI'] = row['RBI']
        player_stats[playerID]['SB'] = row['SB']
        player_stats[playerID]['BB'] = row['BB']
        player_stats[playerID]['SO'] = row['SO']
        player_stats[playerID]['IBB'] = row['IBB']
        player_stats[playerID]['HBP'] = row['HBP']
        player_stats[playerID]['SH'] = row['SH'] 
        player_stats[playerID]['SF'] = row['SF']
        years_played[playerID] = []
        years_played[playerID].append(row['yearID'])

In [11]:
# iterate through years_played and add the number of years played to player_stats
for k, v in years_played.items():
    player_stats[k]['Years_Played'] = len(list(set(v)))

In [12]:
# initialize fielder_list
fielder_list = []

# add fielding stats to player_stats from fielding_df
for i, row in fielding_df.iterrows():
    playerID = row['playerID']
    Gf = row['G']
    GSf = row['GS']
    POf = row['PO']
    Af = row['A']
    Ef = row['E']
    DPf = row['DP']
    
    if playerID in player_stats and playerID in fielder_list:
        player_stats[playerID]['Gf'] = player_stats[playerID]['Gf'] + Gf
        player_stats[playerID]['GSf'] = player_stats[playerID]['GSf'] + GSf
        player_stats[playerID]['POf'] = player_stats[playerID]['POf'] + POf
        player_stats[playerID]['Af'] = player_stats[playerID]['Af'] + Af
        player_stats[playerID]['Ef'] = player_stats[playerID]['Ef'] + Ef
        player_stats[playerID]['DPf'] = player_stats[playerID]['DPf'] + DPf
    else:
        fielder_list.append(playerID)
        player_stats[playerID]['Gf'] = Gf
        player_stats[playerID]['GSf'] =  GSf
        player_stats[playerID]['POf'] =  POf
        player_stats[playerID]['Af'] = Af
        player_stats[playerID]['Ef'] = Ef
        player_stats[playerID]['DPf'] =  DPf

In [13]:
# check different kinds of awards
awards_df['awardID'].unique()

array(['Pitching Triple Crown', 'Triple Crown',
       'Baseball Magazine All-Star', 'Most Valuable Player',
       'TSN All-Star', 'TSN Guide MVP',
       'TSN Major League Player of the Year', 'TSN Pitcher of the Year',
       'TSN Player of the Year', 'Rookie of the Year', 'Babe Ruth Award',
       'Lou Gehrig Memorial Award', 'World Series MVP', 'Cy Young Award',
       'Gold Glove', 'TSN Fireman of the Year', 'All-Star Game MVP',
       'Hutch Award', 'Roberto Clemente Award',
       'Rolaids Relief Man Award', 'NLCS MVP', 'ALCS MVP',
       'Silver Slugger', 'Branch Rickey Award', 'Hank Aaron Award',
       'TSN Reliever of the Year', 'Comeback Player of the Year',
       'Outstanding DH Award', 'Reliever of the Year Award'], dtype=object)

In [14]:
# create dataframes for each award
mvp = awards_df[awards_df['awardID'] == 'Most Valuable Player']
roy = awards_df[awards_df['awardID'] == 'Rookie of the Year']
gg = awards_df[awards_df['awardID'] == 'Gold Glove']
ss = awards_df[awards_df['awardID'] == 'Silver Slugger']
ws_mvp = awards_df[awards_df['awardID'] == 'World Series MVP']

In [15]:
# include each dataframe in awards_list
awards_list = [mvp, roy, gg, ss, ws_mvp]

In [16]:
mvp_list = []
roy_list = []
gg_list = []
ss_list = []
ws_mvp_list = []

# Include each of the above lists in `lists`
lists = [mvp_list,roy_list,gg_list,ss_list,ws_mvp_list]

# add a count for each award for each player in player_stats
for index, v in enumerate(awards_list):
    for i, row in v.iterrows():
        playerID = row['playerID']
        award = row['awardID']
        if playerID in player_stats and playerID in lists[index]:
            player_stats[playerID][award] += 1
        else:
            lists[index].append(playerID)
            player_stats[playerID][award] = 1

In [17]:
# initialize allstar_list
allstar_list = []

# add a count for each Allstar game appearance for each player in player_stats
for i , row in allstar_df.iterrows():
    playerID = row['playerID']
    if playerID in player_stats and playerID in allstar_list:
        player_stats[playerID]['AS_games'] += 1
    else:
        allstar_list.append(playerID)
        player_stats[playerID]['AS_games'] = 1

In [18]:
# filter hof_df to include only those instances where a player was inducted into HOF
hof_df = hof_df[(hof_df['inducted'] == 'Y') & (hof_df['category'] == 'Player')]

hof_df.head()

    playerID  yearID votedBy inducted category needed_note
0   cobbty01    1936   BBWAA        Y   Player         NaN
1   ruthba01    1936   BBWAA        Y   Player         NaN
2  wagneho01    1936   BBWAA        Y   Player         NaN
3  mathech01    1936   BBWAA        Y   Player         NaN
4  johnswa01    1936   BBWAA        Y   Player         NaN

In [19]:
# indicate which players in player_stats were inducted into the HOF
for i, row in hof_df.iterrows():
    playerID = row['playerID']
    if playerID in player_stats:
        player_stats[playerID]['HoF'] = 1
        player_stats[playerID]['votedBy'] = row['votedBy']

In [20]:
# convert player_stats into a dataframe
stats_df = pd.DataFrame.from_dict(player_stats, orient='index')
stats_df.head()

,G,AB,R,H,2B,3B,HR,RBI,SB,BB,SO,IBB,HBP,SH,SF,Years_Played,Gf,GSf,POf,Af,Ef,DPf,HoF,votedBy,Most Valuable Player,AS_games,Gold Glove,Rookie of the Year,World Series MVP,Silver Slugger
aardsda01,331,4,0,0,0,0,0,0.0,0.0,0,2.0,0.0,0.0,1.0,0.0,9,331.0,0.0,11.0,29.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aaronha01,3298,12364,2174,3771,624,98,755,2297.0,240.0,1402,1383.0,NaN,32.0,21.0,121.0,23,3020.0,2977.0,7436.0,429.0,144.0,218.0,1.0,BBWAA,1.0,25.0,3.0,NaN,NaN,NaN
aaronto01,437,944,102,216,42,6,13,94.0,9.0,86,145.0,3.0,0.0,9.0,6.0,7,387.0,206.0,1317.0,113.0,22.0,124.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aasedo01,448,5,0,0,0,0,0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,13,448.0,91.0,67.0,135.0,13.0,10.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
abadan01,15,21,1,2,0,0,0,0.0,0.0,4,5.0,0.0,0.0,0.0,0.0,3,9.0,4.0,37.0,1.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# add column for playerID from the stats_df index
stats_df['playerID'] = stats_df.index

In [22]:
master_df = master_df.join(stats_df, on='playerID', how='inner', rsuffix='mstr')

In [23]:
master_df[master_df['AS_games'] > 18]

,playerID,nameFirst,nameLast,bats,throws,debut,finalGame,G,AB,R,H,2B,3B,HR,RBI,SB,BB,SO,IBB,HBP,SH,SF,Years_Played,Gf,GSf,POf,Af,Ef,DPf,HoF,votedBy,Most Valuable Player,AS_games,Gold Glove,Rookie of the Year,World Series MVP,Silver Slugger,playerIDmstr
1,aaronha01,Hank,Aaron,R,R,1954-04-13,1976-10-03,3298,12364,2174,3771,624,98,755,2297.0,240.0,1402,1383.0,NaN,32.0,21.0,121.0,23,3020.0,2977.0,7436.0,429.0,144.0,218.0,1.0,BBWAA,1.0,25.0,3.0,NaN,NaN,NaN,aaronha01
10984,mantlmi01,Mickey,Mantle,B,R,1951-04-17,1968-09-28,2401,8102,1677,2415,344,72,536,1509.0,153.0,1733,1710.0,NaN,13.0,14.0,NaN,18,2290.0,NaN,6734.0,290.0,107.0,201.0,1.0,BBWAA,3.0,20.0,1.0,NaN,NaN,NaN,mantlmi01
11341,mayswi01,Willie,Mays,R,R,1951-05-25,1973-09-09,2992,10881,2062,3283,523,140,660,1903.0,338.0,1464,1526.0,NaN,44.0,13.0,NaN,22,2929.0,NaN,7752.0,233.0,156.0,121.0,1.0,BBWAA,2.0,24.0,12.0,1.0,NaN,NaN,mayswi01
12745,musiast01,Stan,Musial,L,L,1941-09-17,1963-09-29,3026,10972,1949,3630,725,177,475,1951.0,78.0,1599,696.0,NaN,53.0,35.0,NaN,22,2907.0,NaN,12439.0,818.0,142.0,962.0,1.0,BBWAA,3.0,24.0,NaN,NaN,NaN,NaN,musiast01
14998,ripkeca01,Cal,Ripken,R,R,1981-08-10,2001-10-06,3001,11551,1647,3184,603,44,431,1695.0,36.0,1129,1305.0,107.0,66.0,10.0,127.0,21,2977.0,2958.0,4112.0,8214.0,294.0,1682.0,1.0,BBWAA,2.0,19.0,2.0,1.0,NaN,8.0,ripkeca01
19218,willite01,Ted,Williams,L,R,1939-04-20,1960-09-28,2292,7706,1798,2654,525,71,521,1839.0,24.0,2021,709.0,NaN,39.0,5.0,NaN,19,2152.0,NaN,4158.0,142.0,113.0,30.0,1.0,BBWAA,2.0,19.0,NaN,NaN,NaN,NaN,willite01

In [24]:
appearances_df.head()

,yearID,teamID,lgID,playerID,G_all,GS,G_batting,G_defense,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
0,1871,TRO,NaN,abercda01,1,1.0,1,1.0,0,0,0,0,0,1,0,0,0,0,0.0,0.0,0.0
1,1871,RC1,NaN,addybo01,25,25.0,25,25.0,0,0,0,22,0,3,0,0,0,0,0.0,0.0,0.0
2,1871,CL1,NaN,allisar01,29,29.0,29,29.0,0,0,0,2,0,0,0,29,0,29,0.0,0.0,0.0
3,1871,WS3,NaN,allisdo01,27,27.0,27,27.0,0,27,0,0,0,0,0,0,0,0,0.0,0.0,0.0
4,1871,RC1,NaN,ansonca01,25,25.0,25,25.0,0,5,1,2,20,0,1,0,0,1,0.0,0.0,0.0

In [25]:
# Initialize a dictionary
pos_dict = {}

# Iterate through `appearances_df`
# Add a count for the number of appearances for each player at each position
# Also add a count for the number of games played for each player in each era.
for i, row in appearances_df.iterrows():
    ID = row['playerID']
    year = row['yearID']
    if ID in pos_dict:
        pos_dict[ID]['G_all'] = pos_dict[ID]['G_all'] + row['G_all']
        pos_dict[ID]['G_p'] = pos_dict[ID]['G_p'] + row['G_p']
        pos_dict[ID]['G_c'] = pos_dict[ID]['G_c'] + row['G_c']
        pos_dict[ID]['G_1b'] = pos_dict[ID]['G_1b'] + row['G_1b']
        pos_dict[ID]['G_2b'] = pos_dict[ID]['G_2b'] + row['G_2b']
        pos_dict[ID]['G_3b'] = pos_dict[ID]['G_3b'] + row['G_3b']
        pos_dict[ID]['G_ss'] = pos_dict[ID]['G_ss'] + row['G_ss']
        pos_dict[ID]['G_lf'] = pos_dict[ID]['G_lf'] + row['G_lf']
        pos_dict[ID]['G_cf'] = pos_dict[ID]['G_cf'] + row['G_cf']
        pos_dict[ID]['G_rf'] = pos_dict[ID]['G_rf'] + row['G_rf']
        pos_dict[ID]['G_of'] = pos_dict[ID]['G_of'] + row['G_of']
        pos_dict[ID]['G_dh'] = pos_dict[ID]['G_dh'] + row['G_dh']
        if year < 1920:
            pos_dict[ID]['pre1920'] = pos_dict[ID]['pre1920'] + row['G_all']
        elif year >= 1920 and year <= 1941:
            pos_dict[ID]['1920-41'] = pos_dict[ID]['1920-41'] + row['G_all']
        elif year >= 1942 and year <= 1945:
            pos_dict[ID]['1942-45'] = pos_dict[ID]['1942-45'] + row['G_all']
        elif year >= 1946 and year <= 1962:
            pos_dict[ID]['1946-62'] = pos_dict[ID]['1946-62'] + row['G_all']
        elif year >= 1963 and year <= 1976:
            pos_dict[ID]['1963-76'] = pos_dict[ID]['1963-76'] + row['G_all']
        elif year >= 1977 and year <= 1992:
            pos_dict[ID]['1977-92'] = pos_dict[ID]['1977-92'] + row['G_all']
        elif year >= 1993 and year <= 2009:
            pos_dict[ID]['1993-2009'] = pos_dict[ID]['1993-2009'] + row['G_all']
        elif year > 2009:
            pos_dict[ID]['post2009'] = pos_dict[ID]['post2009'] + row['G_all']
    else:
        pos_dict[ID] = {}
        pos_dict[ID]['G_all'] = row['G_all']
        pos_dict[ID]['G_p'] = row['G_p']
        pos_dict[ID]['G_c'] = row['G_c']
        pos_dict[ID]['G_1b'] = row['G_1b']
        pos_dict[ID]['G_2b'] = row['G_2b']
        pos_dict[ID]['G_3b'] = row['G_3b']
        pos_dict[ID]['G_ss'] = row['G_ss']
        pos_dict[ID]['G_lf'] = row['G_lf']
        pos_dict[ID]['G_cf'] = row['G_cf']
        pos_dict[ID]['G_rf'] = row['G_rf']
        pos_dict[ID]['G_of'] = row['G_of']
        pos_dict[ID]['G_dh'] = row['G_dh']
        pos_dict[ID]['pre1920'] = 0
        pos_dict[ID]['1920-41'] = 0
        pos_dict[ID]['1942-45'] = 0
        pos_dict[ID]['1946-62'] = 0
        pos_dict[ID]['1963-76'] = 0
        pos_dict[ID]['1977-92'] = 0
        pos_dict[ID]['1993-2009'] = 0
        pos_dict[ID]['post2009'] = 0
        if year < 1920:
            pos_dict[ID]['pre1920'] = row['G_all']
        elif year >= 1920 and year <= 1941:
            pos_dict[ID]['1920-41'] = row['G_all']
        elif year >= 1942 and year <= 1945:
            pos_dict[ID]['1942-45'] = row['G_all']
        elif year >= 1946 and year <= 1962:
            pos_dict[ID]['1946-62'] = row['G_all']
        elif year >= 1963 and year <= 1976:
            pos_dict[ID]['1963-76'] = row['G_all']
        elif year >= 1977 and year <= 1992:
            pos_dict[ID]['1977-92'] = row['G_all']
        elif year >= 1993 and year <= 2009:
            pos_dict[ID]['1993-2009'] = row['G_all']
        elif year > 2009:
            pos_dict[ID]['post2009'] = row['G_all']

In [26]:
# convert pos_dict to a dataframe
pos_df = pd.DataFrame.from_dict(pos_dict, orient='index')

In [27]:
pos_df.head()

,G_all,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,pre1920,1920-41,1942-45,1946-62,1963-76,1977-92,1993-2009,post2009
aardsda01,331,331,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,201,130
aaronha01,3298,0,0,210,43,7,0,315,308,2174,2760,201.0,0,0,0,1350,1948,0,0,0
aaronto01,437,0,0,232,7,10,0,135,1,2,137,0.0,0,0,0,141,296,0,0,0
aasedo01,448,448,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,448,0,0
abadan01,15,0,0,8,0,0,0,0,0,1,1,0.0,0,0,0,0,0,0,15,0

In [28]:
pos_df.columns

Index(['G_all', 'G_p', 'G_c', 'G_1b', 'G_2b', 'G_3b', 'G_ss', 'G_lf', 'G_cf',
       'G_rf', 'G_of', 'G_dh', 'pre1920', '1920-41', '1942-45', '1946-62',
       '1963-76', '1977-92', '1993-2009', 'post2009'],
      dtype='object')

In [29]:
# create list from columns of pos_df
pos_col_list = pos_df.columns.tolist()

In [30]:
# remove G_all 
pos_col_list.remove('G_all')

In [31]:
pos_col_list

['G_p',
 'G_c',
 'G_1b',
 'G_2b',
 'G_3b',
 'G_ss',
 'G_lf',
 'G_cf',
 'G_rf',
 'G_of',
 'G_dh',
 'pre1920',
 '1920-41',
 '1942-45',
 '1946-62',
 '1963-76',
 '1977-92',
 '1993-2009',
 'post2009']

In [32]:
# loop through the list and divide each column by the players total games played
for col in pos_col_list:
    column = col +'_percent'
    pos_df[column] = pos_df[col] /pos_df['G_all']
    
pos_df.head()

,G_all,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,pre1920,1920-41,1942-45,1946-62,1963-76,1977-92,1993-2009,post2009,G_p_percent,G_c_percent,G_1b_percent,G_2b_percent,G_3b_percent,G_ss_percent,G_lf_percent,G_cf_percent,G_rf_percent,G_of_percent,G_dh_percent,pre1920_percent,1920-41_percent,1942-45_percent,1946-62_percent,1963-76_percent,1977-92_percent,1993-2009_percent,post2009_percent
aardsda01,331,331,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,201,130,1.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.607251,0.392749
aaronha01,3298,0,0,210,43,7,0,315,308,2174,2760,201.0,0,0,0,1350,1948,0,0,0,0.0,0.0,0.063675,0.013038,0.002122,0.0,0.095512,0.093390,0.659187,0.836871,0.060946,0.0,0.0,0.0,0.409339,0.590661,0.0,0.000000,0.000000
aaronto01,437,0,0,232,7,10,0,135,1,2,137,0.0,0,0,0,141,296,0,0,0,0.0,0.0,0.530892,0.016018,0.022883,0.0,0.308924,0.002288,0.004577,0.313501,0.000000,0.0,0.0,0.0,0.322654,0.677346,0.0,0.000000,0.000000
aasedo01,448,448,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,448,0,0,1.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,1.0,0.000000,0.000000
abadan01,15,0,0,8,0,0,0,0,0,1,1,0.0,0,0,0,0,0,0,15,0,0.0,0.0,0.533333,0.000000,0.000000,0.0,0.000000,0.000000,0.066667,0.066667,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,1.000000,0.000000

In [33]:
# filter pos_df to eliminate players who played 10% or more of their games as pitchers 
pos_df = pos_df[(pos_df['G_p_percent'] < 0.1)]

In [34]:
pos_df.head()

,G_all,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,pre1920,1920-41,1942-45,1946-62,1963-76,1977-92,1993-2009,post2009,G_p_percent,G_c_percent,G_1b_percent,G_2b_percent,G_3b_percent,G_ss_percent,G_lf_percent,G_cf_percent,G_rf_percent,G_of_percent,G_dh_percent,pre1920_percent,1920-41_percent,1942-45_percent,1946-62_percent,1963-76_percent,1977-92_percent,1993-2009_percent,post2009_percent
aaronha01,3298,0,0,210,43,7,0,315,308,2174,2760,201.0,0,0,0,1350,1948,0,0,0,0.0,0.0,0.063675,0.013038,0.002122,0.000000,0.095512,0.093390,0.659187,0.836871,0.060946,0.0,0.0,0.0,0.409339,0.590661,0.0,0.0,0.0
aaronto01,437,0,0,232,7,10,0,135,1,2,137,0.0,0,0,0,141,296,0,0,0,0.0,0.0,0.530892,0.016018,0.022883,0.000000,0.308924,0.002288,0.004577,0.313501,0.000000,0.0,0.0,0.0,0.322654,0.677346,0.0,0.0,0.0
abadan01,15,0,0,8,0,0,0,0,0,1,1,0.0,0,0,0,0,0,0,15,0,0.0,0.0,0.533333,0.000000,0.000000,0.000000,0.000000,0.000000,0.066667,0.066667,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,1.0,0.0
abadijo01,12,0,0,12,0,0,0,0,0,0,0,0.0,12,0,0,0,0,0,0,0,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
abbated01,857,0,0,0,419,20,388,0,2,1,3,NaN,857,0,0,0,0,0,0,0,0.0,0.0,0.000000,0.488915,0.023337,0.452742,0.000000,0.002334,0.001167,0.003501,NaN,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0

In [38]:
pos_df.shape

(10348, 39)

In [35]:
# join pos_df and master_df
master_df = master_df.join(pos_df, on='playerID', how='right')

In [36]:
master_df.head()

,playerID,nameFirst,nameLast,bats,throws,debut,finalGame,G,AB,R,H,2B,3B,HR,RBI,SB,BB,SO,IBB,HBP,SH,SF,Years_Played,Gf,GSf,POf,Af,Ef,DPf,HoF,votedBy,Most Valuable Player,AS_games,Gold Glove,Rookie of the Year,World Series MVP,Silver Slugger,playerIDmstr,G_all,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,pre1920,1920-41,1942-45,1946-62,1963-76,1977-92,1993-2009,post2009,G_p_percent,G_c_percent,G_1b_percent,G_2b_percent,G_3b_percent,G_ss_percent,G_lf_percent,G_cf_percent,G_rf_percent,G_of_percent,G_dh_percent,pre1920_percent,1920-41_percent,1942-45_percent,1946-62_percent,1963-76_percent,1977-92_percent,1993-2009_percent,post2009_percent
1,aaronha01,Hank,Aaron,R,R,1954-04-13,1976-10-03,3298.0,12364.0,2174.0,3771.0,624.0,98.0,755.0,2297.0,240.0,1402.0,1383.0,NaN,32.0,21.0,121.0,23.0,3020.0,2977.0,7436.0,429.0,144.0,218.0,1.0,BBWAA,1.0,25.0,3.0,NaN,NaN,NaN,aaronha01,3298,0,0,210,43,7,0,315,308,2174,2760,201.0,0,0,0,1350,1948,0,0,0,0.0,0.0,0.063675,0.013038,0.002122,0.000000,0.095512,0.093390,0.659187,0.836871,0.060946,0.0,0.0,0.0,0.409339,0.590661,0.0,0.0,0.0
2,aaronto01,Tommie,Aaron,R,R,1962-04-10,1971-09-26,437.0,944.0,102.0,216.0,42.0,6.0,13.0,94.0,9.0,86.0,145.0,3.0,0.0,9.0,6.0,7.0,387.0,206.0,1317.0,113.0,22.0,124.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,aaronto01,437,0,0,232,7,10,0,135,1,2,137,0.0,0,0,0,141,296,0,0,0,0.0,0.0,0.530892,0.016018,0.022883,0.000000,0.308924,0.002288,0.004577,0.313501,0.000000,0.0,0.0,0.0,0.322654,0.677346,0.0,0.0,0.0
4,abadan01,Andy,Abad,L,L,2001-09-10,2006-04-13,15.0,21.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,4.0,5.0,0.0,0.0,0.0,0.0,3.0,9.0,4.0,37.0,1.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,abadan01,15,0,0,8,0,0,0,0,0,1,1,0.0,0,0,0,0,0,0,15,0,0.0,0.0,0.533333,0.000000,0.000000,0.000000,0.000000,0.000000,0.066667,0.066667,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,1.0,0.0
6,abadijo01,John,Abadie,R,R,1875-04-26,1875-06-10,12.0,49.0,4.0,11.0,0.0,0.0,0.0,5.0,1.0,0.0,3.0,NaN,NaN,NaN,NaN,1.0,12.0,NaN,129.0,3.0,13.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,abadijo01,12,0,0,12,0,0,0,0,0,0,0,0.0,12,0,0,0,0,0,0,0,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
7,abbated01,Ed,Abbaticchio,R,R,1897-09-04,1910-09-15,855.0,3044.0,355.0,772.0,99.0,43.0,11.0,324.0,142.0,289.0,283.0,NaN,33.0,93.0,NaN,9.0,830.0,NaN,1873.0,2368.0,315.0,247.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,abbated01,857,0,0,0,419,20,388,0,2,1,3,NaN,857,0,0,0,0,0,0,0,0.0,0.0,0.000000,0.488915,0.023337,0.452742,0.000000,0.002334,0.001167,0.003501,NaN,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0

In [37]:
master_df.shape

(10348, 77)

In [39]:
# replace NA values with None
master_df['votedBy'] = master_df['votedBy'].fillna('None')

In [40]:
master_df['votedBy'].value_counts()

None                10190
BBWAA                  82
Veterans               54
Old Timers             16
Special Election        2
Negro League            2
Run Off                 2
Name: votedBy, dtype: int64

In [ ]:
# master_df = master_df[(master_df['votedBy'] == 'None') | 
#           (master_df['votedBy'] == 'BBWAA') | 
#           (master_df['votedBy'] == 'Run Off')]

In [41]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10348 entries, 1 to 19788
Data columns (total 77 columns):
playerID                10348 non-null object
nameFirst               10316 non-null object
nameLast                10347 non-null object
bats                    9660 non-null object
throws                  9671 non-null object
debut                   10342 non-null object
finalGame               10342 non-null object
G                       10347 non-null float64
AB                      10347 non-null float64
R                       10347 non-null float64
H                       10347 non-null float64
2B                      10347 non-null float64
3B                      10347 non-null float64
HR                      10347 non-null float64
RBI                     9959 non-null float64
SB                      9678 non-null float64
BB                      10347 non-null float64
SO                      9490 non-null float64
IBB                     5126 non-null float64
HBP                     9566 non-null float64
SH                      9121 non-null float64
SF                      5188 non-null float64
Years_Played            10347 non-null float64
Gf                      10148 non-null float64
GSf                     5374 non-null float64
POf                     10148 non-null float64
Af                      10148 non-null float64
Ef                      10148 non-null float64
DPf                     10148 non-null float64
HoF                     158 non-null float64
votedBy                 10348 non-null object
Most Valuable Player    129 non-null float64
AS_games                1064 non-null float64
Gold Glove              313 non-null float64
Rookie of the Year      104 non-null float64
World Series MVP        36 non-null float64
Silver Slugger          284 non-null float64
playerIDmstr            10347 non-null object
G_all                   10348 non-null int64
G_p                     10348 non-null int64
G_c                     10348 non-null int64
G_1b                    10348 non-null int64
G_2b                    10348 non-null int64
G_3b                    10348 non-null int64
G_ss                    10348 non-null int64
G_lf                    10348 non-null int64
G_cf                    10348 non-null int64
G_rf                    10348 non-null int64
G_of                    10348 non-null int64
G_dh                    9819 non-null float64
pre1920                 10348 non-null int64
1920-41                 10348 non-null int64
1942-45                 10348 non-null int64
1946-62                 10348 non-null int64
1963-76                 10348 non-null int64
1977-92                 10348 non-null int64
1993-2009               10348 non-null int64
post2009                10348 non-null int64
G_p_percent             10348 non-null float64
G_c_percent             10348 non-null float64
G_1b_percent            10348 non-null float64
G_2b_percent            10348 non-null float64
G_3b_percent            10348 non-null float64
G_ss_percent            10348 non-null float64
G_lf_percent            10348 non-null float64
G_cf_percent            10348 non-null float64
G_rf_percent            10348 non-null float64
G_of_percent            10348 non-null float64
G_dh_percent            9819 non-null float64
pre1920_percent         10348 non-null float64
1920-41_percent         10348 non-null float64
1942-45_percent         10348 non-null float64
1946-62_percent         10348 non-null float64
1963-76_percent         10348 non-null float64
1977-92_percent         10348 non-null float64
1993-2009_percent       10348 non-null float64
post2009_percent        10348 non-null float64
dtypes: float64(49), int64(19), object(9)
memory usage: 6.2+ MB

In [42]:
# create function that converts the bats and throws columns to numeric
def bats_throws(col):
    if col =='R':
        return 1
    else:
        return 0

In [43]:
# convert bats and throws columns
master_df['throws_R'] = master_df['throws'].apply(bats_throws)
master_df['bats_R'] = master_df['bats'].apply(bats_throws)
master_df.head()

,playerID,nameFirst,nameLast,bats,throws,debut,finalGame,G,AB,R,H,2B,3B,HR,RBI,SB,BB,SO,IBB,HBP,SH,SF,Years_Played,Gf,GSf,POf,Af,Ef,DPf,HoF,votedBy,Most Valuable Player,AS_games,Gold Glove,Rookie of the Year,World Series MVP,Silver Slugger,playerIDmstr,G_all,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,pre1920,1920-41,1942-45,1946-62,1963-76,1977-92,1993-2009,post2009,G_p_percent,G_c_percent,G_1b_percent,G_2b_percent,G_3b_percent,G_ss_percent,G_lf_percent,G_cf_percent,G_rf_percent,G_of_percent,G_dh_percent,pre1920_percent,1920-41_percent,1942-45_percent,1946-62_percent,1963-76_percent,1977-92_percent,1993-2009_percent,post2009_percent,throws_R,bats_R
1,aaronha01,Hank,Aaron,R,R,1954-04-13,1976-10-03,3298.0,12364.0,2174.0,3771.0,624.0,98.0,755.0,2297.0,240.0,1402.0,1383.0,NaN,32.0,21.0,121.0,23.0,3020.0,2977.0,7436.0,429.0,144.0,218.0,1.0,BBWAA,1.0,25.0,3.0,NaN,NaN,NaN,aaronha01,3298,0,0,210,43,7,0,315,308,2174,2760,201.0,0,0,0,1350,1948,0,0,0,0.0,0.0,0.063675,0.013038,0.002122,0.000000,0.095512,0.093390,0.659187,0.836871,0.060946,0.0,0.0,0.0,0.409339,0.590661,0.0,0.0,0.0,1,1
2,aaronto01,Tommie,Aaron,R,R,1962-04-10,1971-09-26,437.0,944.0,102.0,216.0,42.0,6.0,13.0,94.0,9.0,86.0,145.0,3.0,0.0,9.0,6.0,7.0,387.0,206.0,1317.0,113.0,22.0,124.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,aaronto01,437,0,0,232,7,10,0,135,1,2,137,0.0,0,0,0,141,296,0,0,0,0.0,0.0,0.530892,0.016018,0.022883,0.000000,0.308924,0.002288,0.004577,0.313501,0.000000,0.0,0.0,0.0,0.322654,0.677346,0.0,0.0,0.0,1,1
4,abadan01,Andy,Abad,L,L,2001-09-10,2006-04-13,15.0,21.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,4.0,5.0,0.0,0.0,0.0,0.0,3.0,9.0,4.0,37.0,1.0,1.0,3.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,abadan01,15,0,0,8,0,0,0,0,0,1,1,0.0,0,0,0,0,0,0,15,0,0.0,0.0,0.533333,0.000000,0.000000,0.000000,0.000000,0.000000,0.066667,0.066667,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,1.0,0.0,0,0
6,abadijo01,John,Abadie,R,R,1875-04-26,1875-06-10,12.0,49.0,4.0,11.0,0.0,0.0,0.0,5.0,1.0,0.0,3.0,NaN,NaN,NaN,NaN,1.0,12.0,NaN,129.0,3.0,13.0,1.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,abadijo01,12,0,0,12,0,0,0,0,0,0,0,0.0,12,0,0,0,0,0,0,0,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,1,1
7,abbated01,Ed,Abbaticchio,R,R,1897-09-04,1910-09-15,855.0,3044.0,355.0,772.0,99.0,43.0,11.0,324.0,142.0,289.0,283.0,NaN,33.0,93.0,NaN,9.0,830.0,NaN,1873.0,2368.0,315.0,247.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,abbated01,857,0,0,0,419,20,388,0,2,1,3,NaN,857,0,0,0,0,0,0,0,0.0,0.0,0.000000,0.488915,0.023337,0.452742,0.000000,0.002334,0.001167,0.003501,NaN,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,1,1

In [44]:
from datetime import datetime

In [45]:
# convert debut and finalGame to datetime
master_df['debut'] = pd.to_datetime(master_df['debut'])
master_df['finalGame'] = pd.to_datetime(master_df['finalGame'])

In [46]:
# create new columns for debutYear and finalYear
master_df['debutYear'] = pd.to_numeric(master_df['debut'].dt.strftime('%Y'), errors='coerce')
master_df['finalYear'] = pd.to_numeric(master_df['finalGame'].dt.strftime('%Y'), errors='coerce')
master_df.head()

,playerID,nameFirst,nameLast,bats,throws,debut,finalGame,G,AB,R,H,2B,3B,HR,RBI,SB,BB,SO,IBB,HBP,SH,SF,Years_Played,Gf,GSf,POf,Af,Ef,DPf,HoF,votedBy,Most Valuable Player,AS_games,Gold Glove,Rookie of the Year,World Series MVP,Silver Slugger,playerIDmstr,G_all,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,pre1920,1920-41,1942-45,1946-62,1963-76,1977-92,1993-2009,post2009,G_p_percent,G_c_percent,G_1b_percent,G_2b_percent,G_3b_percent,G_ss_percent,G_lf_percent,G_cf_percent,G_rf_percent,G_of_percent,G_dh_percent,pre1920_percent,1920-41_percent,1942-45_percent,1946-62_percent,1963-76_percent,1977-92_percent,1993-2009_percent,post2009_percent,throws_R,bats_R,debutYear,finalYear
1,aaronha01,Hank,Aaron,R,R,1954-04-13,1976-10-03,3298.0,12364.0,2174.0,3771.0,624.0,98.0,755.0,2297.0,240.0,1402.0,1383.0,NaN,32.0,21.0,121.0,23.0,3020.0,2977.0,7436.0,429.0,144.0,218.0,1.0,BBWAA,1.0,25.0,3.0,NaN,NaN,NaN,aaronha01,3298,0,0,210,43,7,0,315,308,2174,2760,201.0,0,0,0,1350,1948,0,0,0,0.0,0.0,0.063675,0.013038,0.002122,0.000000,0.095512,0.093390,0.659187,0.836871,0.060946,0.0,0.0,0.0,0.409339,0.590661,0.0,0.0,0.0,1,1,1954.0,1976.0
2,aaronto01,Tommie,Aaron,R,R,1962-04-10,1971-09-26,437.0,944.0,102.0,216.0,42.0,6.0,13.0,94.0,9.0,86.0,145.0,3.0,0.0,9.0,6.0,7.0,387.0,206.0,1317.0,113.0,22.0,124.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,aaronto01,437,0,0,232,7,10,0,135,1,2,137,0.0,0,0,0,141,296,0,0,0,0.0,0.0,0.530892,0.016018,0.022883,0.000000,0.308924,0.002288,0.004577,0.313501,0.000000,0.0,0.0,0.0,0.322654,0.677346,0.0,0.0,0.0,1,1,1962.0,1971.0
4,abadan01,Andy,Abad,L,L,2001-09-10,2006-04-13,15.0,21.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,4.0,5.0,0.0,0.0,0.0,0.0,3.0,9.0,4.0,37.0,1.0,1.0,3.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,abadan01,15,0,0,8,0,0,0,0,0,1,1,0.0,0,0,0,0,0,0,15,0,0.0,0.0,0.533333,0.000000,0.000000,0.000000,0.000000,0.000000,0.066667,0.066667,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,1.0,0.0,0,0,2001.0,2006.0
6,abadijo01,John,Abadie,R,R,1875-04-26,1875-06-10,12.0,49.0,4.0,11.0,0.0,0.0,0.0,5.0,1.0,0.0,3.0,NaN,NaN,NaN,NaN,1.0,12.0,NaN,129.0,3.0,13.0,1.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,abadijo01,12,0,0,12,0,0,0,0,0,0,0,0.0,12,0,0,0,0,0,0,0,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,1,1,1875.0,1875.0
7,abbated01,Ed,Abbaticchio,R,R,1897-09-04,1910-09-15,855.0,3044.0,355.0,772.0,99.0,43.0,11.0,324.0,142.0,289.0,283.0,NaN,33.0,93.0,NaN,9.0,830.0,NaN,1873.0,2368.0,315.0,247.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,abbated01,857,0,0,0,419,20,388,0,2,1,3,NaN,857,0,0,0,0,0,0,0,0.0,0.0,0.000000,0.488915,0.023337,0.452742,0.000000,0.002334,0.001167,0.003501,NaN,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,1,1,1897.0,1910.0

In [47]:
# create new dataframe after dropping unnecessary columns
df = master_df.drop(['IBB', 'bats', 'throws', 
                'GSf', 'POf', 'Gf', 'playerIDmstr'], axis=1)
df.head()

,playerID,nameFirst,nameLast,debut,finalGame,G,AB,R,H,2B,3B,HR,RBI,SB,BB,SO,HBP,SH,SF,Years_Played,Af,Ef,DPf,HoF,votedBy,Most Valuable Player,AS_games,Gold Glove,Rookie of the Year,World Series MVP,Silver Slugger,G_all,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,pre1920,1920-41,1942-45,1946-62,1963-76,1977-92,1993-2009,post2009,G_p_percent,G_c_percent,G_1b_percent,G_2b_percent,G_3b_percent,G_ss_percent,G_lf_percent,G_cf_percent,G_rf_percent,G_of_percent,G_dh_percent,pre1920_percent,1920-41_percent,1942-45_percent,1946-62_percent,1963-76_percent,1977-92_percent,1993-2009_percent,post2009_percent,throws_R,bats_R,debutYear,finalYear
1,aaronha01,Hank,Aaron,1954-04-13,1976-10-03,3298.0,12364.0,2174.0,3771.0,624.0,98.0,755.0,2297.0,240.0,1402.0,1383.0,32.0,21.0,121.0,23.0,429.0,144.0,218.0,1.0,BBWAA,1.0,25.0,3.0,NaN,NaN,NaN,3298,0,0,210,43,7,0,315,308,2174,2760,201.0,0,0,0,1350,1948,0,0,0,0.0,0.0,0.063675,0.013038,0.002122,0.000000,0.095512,0.093390,0.659187,0.836871,0.060946,0.0,0.0,0.0,0.409339,0.590661,0.0,0.0,0.0,1,1,1954.0,1976.0
2,aaronto01,Tommie,Aaron,1962-04-10,1971-09-26,437.0,944.0,102.0,216.0,42.0,6.0,13.0,94.0,9.0,86.0,145.0,0.0,9.0,6.0,7.0,113.0,22.0,124.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,437,0,0,232,7,10,0,135,1,2,137,0.0,0,0,0,141,296,0,0,0,0.0,0.0,0.530892,0.016018,0.022883,0.000000,0.308924,0.002288,0.004577,0.313501,0.000000,0.0,0.0,0.0,0.322654,0.677346,0.0,0.0,0.0,1,1,1962.0,1971.0
4,abadan01,Andy,Abad,2001-09-10,2006-04-13,15.0,21.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,4.0,5.0,0.0,0.0,0.0,3.0,1.0,1.0,3.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,15,0,0,8,0,0,0,0,0,1,1,0.0,0,0,0,0,0,0,15,0,0.0,0.0,0.533333,0.000000,0.000000,0.000000,0.000000,0.000000,0.066667,0.066667,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,1.0,0.0,0,0,2001.0,2006.0
6,abadijo01,John,Abadie,1875-04-26,1875-06-10,12.0,49.0,4.0,11.0,0.0,0.0,0.0,5.0,1.0,0.0,3.0,NaN,NaN,NaN,1.0,3.0,13.0,1.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,12,0,0,12,0,0,0,0,0,0,0,0.0,12,0,0,0,0,0,0,0,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,1,1,1875.0,1875.0
7,abbated01,Ed,Abbaticchio,1897-09-04,1910-09-15,855.0,3044.0,355.0,772.0,99.0,43.0,11.0,324.0,142.0,289.0,283.0,33.0,93.0,NaN,9.0,2368.0,315.0,247.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,857,0,0,0,419,20,388,0,2,1,3,NaN,857,0,0,0,0,0,0,0,0.0,0.0,0.000000,0.488915,0.023337,0.452742,0.000000,0.002334,0.001167,0.003501,NaN,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,1,1,1897.0,1910.0

In [48]:
# check new df for null values
df.isnull().sum()

playerID                    0
nameFirst                  32
nameLast                    1
debut                       6
finalGame                   6
G                           1
AB                          1
R                           1
H                           1
2B                          1
3B                          1
HR                          1
RBI                       389
SB                        670
BB                          1
SO                        858
HBP                       782
SH                       1227
SF                       5160
Years_Played                1
Af                        200
Ef                        200
DPf                       200
HoF                     10190
votedBy                     0
Most Valuable Player    10219
AS_games                 9284
Gold Glove              10035
Rookie of the Year      10244
World Series MVP        10312
                        ...
1920-41                     0
1942-45                     0
1946-62                     0
1963-76                     0
1977-92                     0
1993-2009                   0
post2009                    0
G_p_percent                 0
G_c_percent                 0
G_1b_percent                0
G_2b_percent                0
G_3b_percent                0
G_ss_percent                0
G_lf_percent                0
G_cf_percent                0
G_rf_percent                0
G_of_percent                0
G_dh_percent              529
pre1920_percent             0
1920-41_percent             0
1942-45_percent             0
1946-62_percent             0
1963-76_percent             0
1977-92_percent             0
1993-2009_percent           0
post2009_percent            0
throws_R                    0
bats_R                      0
debutYear                   6
finalYear                   6
Length: 74, dtype: int64

In [49]:
df.isnull().sum().sort_values()

playerID                    0
G_c_percent                 0
G_p_percent                 0
post2009                    0
1993-2009                   0
1977-92                     0
1963-76                     0
G_1b_percent                0
1946-62                     0
1920-41                     0
pre1920                     0
G_of                        0
G_rf                        0
G_cf                        0
G_lf                        0
1942-45                     0
G_ss                        0
G_2b_percent                0
G_ss_percent                0
bats_R                      0
throws_R                    0
post2009_percent            0
1993-2009_percent           0
1977-92_percent             0
1963-76_percent             0
G_3b_percent                0
1946-62_percent             0
1920-41_percent             0
pre1920_percent             0
G_of_percent                0
                        ...
2B                          1
H                           1
AB                          1
Years_Played                1
G                           1
nameLast                    1
R                           1
finalGame                   6
debut                       6
debutYear                   6
finalYear                   6
nameFirst                  32
Af                        200
Ef                        200
DPf                       200
RBI                       389
G_dh_percent              529
G_dh                      529
SB                        670
HBP                       782
SO                        858
SH                       1227
SF                       5160
AS_games                 9284
Gold Glove              10035
Silver Slugger          10064
HoF                     10190
Most Valuable Player    10219
Rookie of the Year      10244
World Series MVP        10312
Length: 74, dtype: int64

In [50]:
# fill null values in numeric columns with 0
fill_cols = ['AS_games', 'Silver Slugger', 'Rookie of the Year', 
             'Gold Glove', 'Most Valuable Player', 'HoF', '1977-92', 
             'pre1920', '1942-45', '1946-62', '1963-76', '1920-41', 
             '1993-2009', 'HBP', 'SB', 'SF', 'SH', 'RBI', 'SO', 
             'World Series MVP', 'G_dh_percent', 'G_dh', 'Af', 'DPf', 'Ef']

for col in fill_cols:
    df[col] = df[col].fillna(0)

In [51]:
df.isnull().sum().sort_values()

playerID                 0
G_c_percent              0
G_p_percent              0
post2009                 0
1993-2009                0
1977-92                  0
1963-76                  0
G_1b_percent             0
1946-62                  0
1920-41                  0
pre1920                  0
G_dh                     0
G_of                     0
G_rf                     0
G_cf                     0
1942-45                  0
G_2b_percent             0
G_3b_percent             0
G_ss_percent             0
bats_R                   0
throws_R                 0
post2009_percent         0
1993-2009_percent        0
1977-92_percent          0
1963-76_percent          0
1946-62_percent          0
1942-45_percent          0
1920-41_percent          0
pre1920_percent          0
G_dh_percent             0
                        ..
Ef                       0
DPf                      0
HoF                      0
votedBy                  0
SH                       0
AS_games                 0
Gold Glove               0
Rookie of the Year       0
World Series MVP         0
Silver Slugger           0
G_all                    0
G_p                      0
G_c                      0
G_1b                     0
Most Valuable Player     0
nameLast                 1
G                        1
AB                       1
R                        1
H                        1
HR                       1
3B                       1
BB                       1
Years_Played             1
2B                       1
debutYear                6
finalGame                6
debut                    6
finalYear                6
nameFirst               32
Length: 74, dtype: int64

In [52]:
df[df['nameFirst'].isnull()]

,playerID,nameFirst,nameLast,debut,finalGame,G,AB,R,H,2B,3B,HR,RBI,SB,BB,SO,HBP,SH,SF,Years_Played,Af,Ef,DPf,HoF,votedBy,Most Valuable Player,AS_games,Gold Glove,Rookie of the Year,World Series MVP,Silver Slugger,G_all,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,pre1920,1920-41,1942-45,1946-62,1963-76,1977-92,1993-2009,post2009,G_p_percent,G_c_percent,G_1b_percent,G_2b_percent,G_3b_percent,G_ss_percent,G_lf_percent,G_cf_percent,G_rf_percent,G_of_percent,G_dh_percent,pre1920_percent,1920-41_percent,1942-45_percent,1946-62_percent,1963-76_percent,1977-92_percent,1993-2009_percent,post2009_percent,throws_R,bats_R,debutYear,finalYear
1600,bolan01,NaN,Boland,1875-09-04,1875-09-04,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,1,0,0,0,0,0,0.0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1875.0,1875.0
1669,booth01,NaN,Booth,1875-05-01,1875-05-01,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,1,0,0,0,0,0.0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1875.0,1875.0
2760,carroch01,NaN,Carroll,1884-04-17,1884-04-21,4.0,16.0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,4.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,4,0,0,0,0,0,0,4,0,0,4,0.0,4,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,0.0,1.000000,0.000000,0.000000,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1884.0,1884.0
5285,evans01,NaN,Evans,1875-06-01,1875-06-01,1.0,4.0,1.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,0,1,0,0,1,0.0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,0.0,1.000000,0.000000,0.000000,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1875.0,1875.0
5859,frank01,NaN,Franklin,1884-09-27,1884-09-27,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,0,0,1,0,1,0.0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,1.000000,0.000000,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1884.0,1884.0
6275,gaver01,NaN,Gavern,1874-06-15,1874-06-15,1.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,8.0,3.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,1,0,0,0,0,0,0,0.0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1874.0,1874.0
7408,harribe01,NaN,Harrison,1901-09-27,1901-09-27,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,0,1,0,0,1,0.0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,0.0,1.000000,0.000000,0.000000,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1901.0,1901.0
7685,helli01,NaN,Hellings,1875-07-19,1875-07-19,1.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,2.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,1,0,0,0,0,0,0,0.0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1875.0,1875.0
7940,higby01,NaN,Higby,1872-09-18,1872-09-18,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,0,0,0,1,1,0.0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,1.000000,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1872.0,1872.0
7959,hilde01,NaN,Hillebrand,1902-08-29,1902-08-29,1.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,0,0,0,1,1,0.0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,1.000000,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1902.0,1902.0
8926,jones02,NaN,Jones,1884-07-14,1884-07-18,4.0,17.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,4,0,0,0,0,0,0,4,0,0,4,0.0,4,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,0.0,1.000000,0.000000,0.000000,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1884.0,1884.0
8927,jones03,NaN,Jones,1885-04-30,1885-04-30,1.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0,0.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,1,0,0,0,0,0,0.0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1885.0,1885.0
10205,leona01,NaN,Leonard,1892-09-12,1892-09-12,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,0,0,0,1,1,0.0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,1.000000,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1892.0,1892.0
10740,macey01,NaN,Macey,1890-10-02,1890-10-02,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,1,0,0,0,0,0,0,0,0,0.0,1,0,0,0,0,0,0,0,0.0,1.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1890.0,1890.0
11379,mcbrijo01,NaN,McBride,1890-10-12,1890-10-12,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,0,0,1,0,1,0.0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,1.000000,0.000000,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1890.0,1890.0
11795,mcrem01,NaN,McRemer,1884-06-20,1884-06-20,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,0,0,0,1,1,0.0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,1.000000,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1884.0,1884.0
12668,murph01,NaN,Murphy,1884-08-16,1884-08-16,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,1,0,0,0,0,1,0,0,1,0.0,1,0,0,0,0,0,0,0,0.0,1.0,0.0,0.0,0.000000,0.0,1.000000,0.000000,0.000000,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1884.0,1884.0
14076,piercma01,NaN,Pierce,1884-04-23,1884-04-24,2.0,7.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,2,0,0,0,0,2,0,0,0,0,0,0.0,2,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1884.0,1884.0
14445,quinl01,NaN,Quinlan,1874-09-07,1874-09-07,1.0,4.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,1,0,0,0,0,0.0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1874.0,1874.0
14457,quinnpa01,NaN,Quinn,1875-09-09,1875-09-17,2.0,8.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,2,0,0,0,0,0,1,0,1,1,2,0.0,2,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,0.5,0.000000,0.500000,0.500000,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1875.0,1875.0
14891,richa01,NaN,Richardson,1884-07-10,1884-07-10,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,1,0,0,0,0,0,0,0.0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1884.0,1884.0
16015,scott01,NaN,Scott,1884-07-16,1884-08-05,13.0,53.0,10.0,12.0,1.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,1.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,13,0,0,0,0,1,0,0,0,13,13,0.0,13,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.076923,0.0,0.000000,0.000000,1.000000,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1884.0,1884.0
16171,shaff01,NaN,Shaffer,1875-09-15,1875-09-15,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,0,0,0,1,1,0.0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,1.000000,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1875.0,1875.0
16278,sheri01,NaN,Sheridan,1875-10-09,1875-10-09,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,0,1,0,0,1,0.0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,0.0,1.000000,0.000000,0.000000,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1875.0,1875.0
16873,spenc01,NaN,Spencer,1872-06-03,1872-06-03,1.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,4.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,1,0,0,0,0,0.0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1872.0,1872.0
16945,staffbo01,NaN,Stafford,1890-10-12,1890-10-12,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,0,0,0,1,1,0.0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,1.000000,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1890.0,1890.0
17174,stodd01,NaN,Stoddard,1875-09-25,1875-10-09,2.0,9.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,2,0,0,0,0,0,0,1,1,0,2,0.0,2,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,0.0,0.500000,0.500000,0.000000,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1875.0,1875.0
17338,sulli01,NaN,Sullivan,1875-05-15,1875-05-17,2.0,8.0,3.0,3.0,0.0,0.0,0.0,2.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,2,0,0,0,0,0,0,0,0,2,2,0.0,2,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,1.000000,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1875.0,1875.0
17467,sweigha01,NaN,Sweigert,1890-10-12,1890-10-12,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,0,1,0,0,1,0.0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,0.0,1.000000,0.000000,0.000000,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1890.0,1890.0
19229,wills01,NaN,Wills,1884-05-14,1884-07-25,9.0,36.0,3.0,5.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0,1.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,9,0,0,0,0,0,0,1,8,0,9,0.0,9,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,0.0,0.111111,0.888889,0.000000,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1884.0,1884.0
19428,wood01,NaN,Wood,1874-09-30,1874-09-30,1.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,1,0,0,0,0,0,0,0.0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1874.0,1874.0
19788,thompan01,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,11,0,11,0,0,0,0,0,0,1,1,0.0,11,0,0,0,0,0,0,0,0.0,1.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.090909,0.090909,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,NaN,NaN

In [53]:
# drop any additional rows with null values
df = df.dropna()

In [54]:
# check one more time for nulls
df.isnull().sum()

playerID                0
nameFirst               0
nameLast                0
debut                   0
finalGame               0
G                       0
AB                      0
R                       0
H                       0
2B                      0
3B                      0
HR                      0
RBI                     0
SB                      0
BB                      0
SO                      0
HBP                     0
SH                      0
SF                      0
Years_Played            0
Af                      0
Ef                      0
DPf                     0
HoF                     0
votedBy                 0
Most Valuable Player    0
AS_games                0
Gold Glove              0
Rookie of the Year      0
World Series MVP        0
                       ..
1920-41                 0
1942-45                 0
1946-62                 0
1963-76                 0
1977-92                 0
1993-2009               0
post2009                0
G_p_percent             0
G_c_percent             0
G_1b_percent            0
G_2b_percent            0
G_3b_percent            0
G_ss_percent            0
G_lf_percent            0
G_cf_percent            0
G_rf_percent            0
G_of_percent            0
G_dh_percent            0
pre1920_percent         0
1920-41_percent         0
1942-45_percent         0
1946-62_percent         0
1963-76_percent         0
1977-92_percent         0
1993-2009_percent       0
post2009_percent        0
throws_R                0
bats_R                  0
debutYear               0
finalYear               0
Length: 74, dtype: int64

In [55]:
# create batting average column
df['AVE'] = df['H'] / df['AB']

In [56]:
# create on base percentage column
plate_appearances = df['AB'] + df['BB'] + df['SF'] + df['SH'] + df['HBP']
df['OBP'] = (df['H'] + df['BB'] + df['HBP']) / plate_appearances

In [57]:
# create slugging percent column
single = ((df['H'] - df['2B']) - df['3B']) - df['HR']
df['Slug_Percent'] = ((df['HR'] * 4 ) + (df['3B'] * 3) 
                      + (df['2B'] * 2) + single) / df['AB']

In [58]:
# create on base plus slugging percent column
hr = df['HR'] * 4
triple = df['3B'] * 3
double = df['2B'] * 2
df['OPS'] = df['OBP'] + df['Slug_Percent']

In [59]:
df.head()

,playerID,nameFirst,nameLast,debut,finalGame,G,AB,R,H,2B,3B,HR,RBI,SB,BB,SO,HBP,SH,SF,Years_Played,Af,Ef,DPf,HoF,votedBy,Most Valuable Player,AS_games,Gold Glove,Rookie of the Year,World Series MVP,Silver Slugger,G_all,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,pre1920,1920-41,1942-45,1946-62,1963-76,1977-92,1993-2009,post2009,G_p_percent,G_c_percent,G_1b_percent,G_2b_percent,G_3b_percent,G_ss_percent,G_lf_percent,G_cf_percent,G_rf_percent,G_of_percent,G_dh_percent,pre1920_percent,1920-41_percent,1942-45_percent,1946-62_percent,1963-76_percent,1977-92_percent,1993-2009_percent,post2009_percent,throws_R,bats_R,debutYear,finalYear,AVE,OBP,Slug_Percent,OPS
1,aaronha01,Hank,Aaron,1954-04-13,1976-10-03,3298.0,12364.0,2174.0,3771.0,624.0,98.0,755.0,2297.0,240.0,1402.0,1383.0,32.0,21.0,121.0,23.0,429.0,144.0,218.0,1.0,BBWAA,1.0,25.0,3.0,0.0,0.0,0.0,3298,0,0,210,43,7,0,315,308,2174,2760,201.0,0,0,0,1350,1948,0,0,0,0.0,0.0,0.063675,0.013038,0.002122,0.000000,0.095512,0.093390,0.659187,0.836871,0.060946,0.0,0.0,0.0,0.409339,0.590661,0.0,0.0,0.0,1,1,1954.0,1976.0,0.304998,0.373386,0.554513,0.927899
2,aaronto01,Tommie,Aaron,1962-04-10,1971-09-26,437.0,944.0,102.0,216.0,42.0,6.0,13.0,94.0,9.0,86.0,145.0,0.0,9.0,6.0,7.0,113.0,22.0,124.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,437,0,0,232,7,10,0,135,1,2,137,0.0,0,0,0,141,296,0,0,0,0.0,0.0,0.530892,0.016018,0.022883,0.000000,0.308924,0.002288,0.004577,0.313501,0.000000,0.0,0.0,0.0,0.322654,0.677346,0.0,0.0,0.0,1,1,1962.0,1971.0,0.228814,0.288995,0.327331,0.616326
4,abadan01,Andy,Abad,2001-09-10,2006-04-13,15.0,21.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,4.0,5.0,0.0,0.0,0.0,3.0,1.0,1.0,3.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,15,0,0,8,0,0,0,0,0,1,1,0.0,0,0,0,0,0,0,15,0,0.0,0.0,0.533333,0.000000,0.000000,0.000000,0.000000,0.000000,0.066667,0.066667,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,1.0,0.0,0,0,2001.0,2006.0,0.095238,0.240000,0.095238,0.335238
6,abadijo01,John,Abadie,1875-04-26,1875-06-10,12.0,49.0,4.0,11.0,0.0,0.0,0.0,5.0,1.0,0.0,3.0,0.0,0.0,0.0,1.0,3.0,13.0,1.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,12,0,0,12,0,0,0,0,0,0,0,0.0,12,0,0,0,0,0,0,0,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,1,1,1875.0,1875.0,0.224490,0.224490,0.224490,0.448980
7,abbated01,Ed,Abbaticchio,1897-09-04,1910-09-15,855.0,3044.0,355.0,772.0,99.0,43.0,11.0,324.0,142.0,289.0,283.0,33.0,93.0,0.0,9.0,2368.0,315.0,247.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,857,0,0,0,419,20,388,0,2,1,3,0.0,857,0,0,0,0,0,0,0,0.0,0.0,0.000000,0.488915,0.023337,0.452742,0.000000,0.002334,0.001167,0.003501,0.000000,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,1,1,1897.0,1910.0,0.253614,0.316276,0.325230,0.641506

In [60]:
# df.to_csv('masterPlayerStats.csv')

In [ ]:
df_hof = df[df['HoF'] == 1]

In [ ]:
len(df_hof)

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# initialize the figure and add subplots
fig = plt.figure(figsize=(16,8))
ax1 = fig.add_subplot(2,2,1)
ax2 = fig.add_subplot(2,2,2)
ax3 = fig.add_subplot(2,2,3)
ax4 = fig.add_subplot(2,2,4)

# create distribuation plots for hits, HR, years played and all star games
ax1.hist(df_hof['H'])
ax1.set_title('Distribution of Hits')
ax1.set_ylabel('HoF Careers')
ax2.hist(df_hof['HR'])
ax2.set_title('Distribution of Home Runs')
ax3.hist(df_hof['Years_Played'])
ax3.set_title('Distribution of Years Played')
ax3.set_ylabel('HoF Careers')
ax4.hist(df_hof['AS_games'])
ax4.set_title('Distribution of All Star Game Appearances')

plt.show()

In [ ]:
# filter df to include only players with 10 or more seasons played
df_10 = df[(df['Years_Played'] >= 10) & (df['HoF'] == 0)]

In [ ]:
# plot scatter plot 
fig = plt.figure(figsize=(16,8))
ax1 = fig.add_subplot(1,2,1)
ax2 = fig.add_subplot(1,2,2)

ax1.scatter(df_hof['H'], df_hof['AVE'], c='r', label='HoF Player')
ax1.scatter(df_10['H'], df_10['AVE'], c='b', label='Non HoF Player')
ax1.set_title('Career Hits vs Career Batting Average')
ax1.set_xlabel('Career Hits')
ax1.set_ylabel('Career Average')
ax2.scatter(df_hof['HR'], df_hof['AVE'], c='r', label='HoF Player')
ax2.scatter(df_10['HR'], df_10['AVE'], c='b', label='Non HoF Player')
ax2.set_title('Career Home Runs vs Career Batting Average')
ax2.set_xlabel('Career Home Runs')
ax2.legend(loc='lower right', scatterpoints=1)

plt.show()

In [ ]:
df.isnull().sum()

In [ ]:
# drop null values from new columns
df = df.dropna()

In [ ]:
# create column for years since retirement
df['YSLS'] = 2019 - df['finalYear']

In [ ]:
# filter df for players who retired more than 15 years ago 
df_hitters = df[df['YSLS'] > 15]
df_hitters.head()

In [ ]:
# filter df for players who retired less than 15 years ago and currently active players
df_eligible = df[df['YSLS'] <= 15]
df_eligible.head()

In [ ]:
df.columns

In [ ]:
df.corr()['HoF'].sort_values()

In [ ]:
# Select columns to use for models, and identification columns
num_cols_hitters = ['playerID', 'nameFirst', 'nameLast', 'HoF', 
                    'Years_Played', 'H', 'BB', 'HR', 'AVE', 'OBP', 
                    'Slug_Percent', 'OPS',  'RBI','R', 'SB', '2B', 
                    '3B', 'AB', 'SO', 'Most Valuable Player', 
                    'World Series MVP', 'AS_games','Gold Glove', 
                    'Rookie of the Year', 'Silver Slugger', 'bats_R', 
                    'throws_R', 'DPf', 'Af', 'Ef', 'YSLS', 'G_all', 
                    '1963-76_percent', '1993-2009_percent', 
                    '1946-62_percent', 'G_1b_percent', '1942-45_percent',
                    'G_dh_percent', '1920-41_percent', 'G_ss_percent',
                    'post2009_percent', '1977-92_percent', 'G_2b_percent', 
                    'G_3b_percent','G_of_percent', 'pre1920_percent']

# create a new dataframe from the columns above
data = df_hitters[num_cols_hitters]

In [ ]:
data.shape

In [ ]:
data.head()

In [ ]:
data[data['HoF'] == 1]

In [ ]:
# set X and y variables
X = data.drop(columns=['playerID', 'nameFirst', 'nameLast', 'HoF'])
y = data['HoF']

In [ ]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LogisticRegression

In [ ]:
# train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [ ]:
# instantiate model
lr = LogisticRegression()

In [ ]:
lr.fit(X_train, y_train)

In [ ]:
preds = lr.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report

In [ ]:
confusion_matrix(y_test, preds)

In [ ]:
# print out confusion matrix
tn, fp, fn, tp = confusion_matrix(y_test, preds).ravel()

In [ ]:
print("True Negatives: " + str(tn))
print()
print("False Positives: " + str(fp))
print()
print("False Negatives: " + str(fn))
print()
print("True Positives: " + str(tp))

In [ ]:
probabilities = lr.predict_proba(X_test)

In [ ]:
# from lab 4.02 solutions
def roc(probas, true, step=0.01):
    """
    probas should be a numpy array of predict_probas
    true is a pandas series of true labels
    step is the step size for checking thresholds
    """
    
    probas = probas[:,1]  # The output of predict_proba() is an array of the probabilities for every class, but we only want the probabilities for class 1
    true = true.values    # We need to convert the class labels from a Pandas Series to a numpy array. We do this using the .values attribute
    assert(len(probas) == len(true)) # We're making sure that our probabilities vector is the same length as our true class labesl vector
    
    TPRs = [] # Setting up empty list of True Positive Rate
    FPRs = [] # Setting up empty list of False Positive Rate
    
    for i in np.arange(0.0,1.0,step): # np.arange allows us to use step sizes that are decimals
        preds_class = probas > i # Numpy arrays have a feature called 'broadcasting.' Check the documentation: https://docs.scipy.org/doc/numpy-1.13.0/user/basics.broadcasting.html to see what this does.
        TP = 0 
        FP = 0
        TN = 0
        FN = 0
        for index in range(len(preds_class)): # We're comparing each prediction with each true value here

            if preds_class[index] == 1 and true[index] == 1:
                TP += 1
            elif preds_class[index] == 1 and true[index] == 0:
                FP += 1
            elif preds_class[index] == 0 and true[index] == 0:
                TN += 1 
            elif preds_class[index] == 0 and true[index] == 1:
                FN += 1
                
        TPR = TP/(TP + FN) # Calculating TPR and FPR and appending to our lists
        FPR = FP/(FP + TN)
        
        TPRs.append(TPR)
        FPRs.append(FPR)
         
    plt.rcParams['font.size'] = 14
    plt.plot(FPRs, TPRs, color="orange")
    plt.plot([0,1],[0,1], color='navy', lw=2, linestyle='--')
    plt.xlim([0.0, 1.0])
    plt.ylim([0.0, 1.0])
    plt.title('Receiver Operating Characteristic')
    plt.xlabel("False Positive Rate (1 - Specificity)")
    plt.ylabel("True Positive Rate (Sensitivity)")
    plt.show();

In [ ]:
roc(probas=probabilities,
   true=y_test,
   step=.001)

In [ ]:
print(classification_report(y_test, preds))

In [ ]:
cross_val_score(lr, X_test, y_test, cv=5).mean()

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
# create a penalty dictionary
penalty = {
    0:100,
    1:1
}

In [ ]:
# instantiate random forest model
rf = RandomForestClassifier(random_state=42, n_estimators=12,
                           max_depth=11, min_samples_leaf=1, class_weight=penalty)

In [ ]:
rf.fit(X_train, y_train)

In [ ]:
preds_rf = rf.predict(X_test)

In [ ]:
cross_val_score(rf, X_test, y_test, cv=5).mean()

In [ ]:
confusion_matrix(y_test, preds_rf)

In [ ]:
# print out confusion matrix
tn, fp, fn, tp = confusion_matrix(y_test, preds).ravel()

In [ ]:
print("True Negatives: " + str(tn))
print()
print("False Positives: " + str(fp))
print()
print("False Negatives: " + str(fn))
print()
print("True Positives: " + str(tp))